@import '~normalize.css/normalize.css';
@import 'libs';

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body {
  font-family: 'Roboto', sans-serif;
}

.text-center {
  text-align: center;
}